[submodule "aggregator-service"]
	path = aggregator-service
	url = https://github.com/Loocist23/aggregator-service.git
[submodule "cybersec-web"]
	path = cybersec-web
	url = https://github.com/Loocist23/cybersec-web.git
